<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="So Tay Dang Vien">
    <meta name="keywords" content="Quan ly, dang vien, Ha Noi, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    
    <link rel="stylesheet" href="/phan/assets/css/bootstrap.min1.css">
    <link rel="stylesheet" href="/phan/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/phan/assets/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="/phan/assets/css/nice-select1.css">
    <link rel="stylesheet" href="/phan/assets/css/owl.carousel.min1.css">
    <link rel="stylesheet" href="/phan/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/phan/assets/css/style1.css" >

</head>

<body>
    <!-- Page Preloder
    <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Đăng nhập -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Đăng nhập hệ thống</h3>
                        <form action="#">
                            <div class="input__item">
                                <input type="text" placeholder="Email address">
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Password">
                            </div>
                            <button type="submit" class="site-btn"><a href="index.html">Đăng nhập</a></button>
                            
                        </form>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <!-- Js Plugins -->
    <script src="/phan/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/phan/assets/js/bootstrap.min.js"></script>
    <script src="/phan/assets/js/player.js"></script>
    <script src="/phan/assets/js/jquery.nice-select.min1.js"></script>
    <script src="/phan/assets/js/mixitup.min.js"></script>
    <script src="/phan/assets/js/jquery.slicknav.js"></script>
    <script src="/phan/assets/js/owl.carousel.min1.js"></script>
    <script src="/phan/assets/js/main1.js"></script>

</body>

</html>