<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin-ace/layout-admin-ace.html}">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<div layout:fragment="content" class="main-content">
		<!-- <form action="<c:url value='/admin-new'/>" id="formSubmit" method="get"> -->
			<div class="main-content-inner">
				<div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<script type="text/javascript">
						try {ace.settings.check('breadcrumbs', 'fixed')} catch (e) { }
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a th:href="@{/admin/news/list}">Home</a>
						</li>
						<li class="active">News</li>
						<li class="active">List</li>
					</ul><!-- /.breadcrumb -->
				</div>
				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<div class="alert alert-primary" role="alert" th:if="${message != null}">
								<i>[[${message}]]</i>
							</div>
							<div class="widget-box table-filter">
								<div class="table-btn-controls">
									<div class="pull-left tableTools-container">
										<div class="dt-buttons btn-overlap btn-group">
											<a flag="info"
												class="dt-button buttons-colvis btn btn-white btn-primary btn-bold"
												data-toggle="tooltip" title='Thêm bài viết'
												th:href="@{/admin/news/add}">
												<span>
													<i class="fa fa-plus-circle bigger-110 purple"></i>
												</span>
											</a>

											<button id="btnDelete" type="submit"
												class="dt-button buttons-html5 btn btn-white btn-primary btn-bold"
												data-toggle="tooltip" title='Delete'>
												<span>
													<i class="fa fa-trash-o bigger-110 pink"></i>
												</span>
											</button>

										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th><input type="checkbox" id="checkAll"></th>
													<th>Title</th>
													<th>Short Description</th>
													<th>Thumbnail</th>
													<th>Content</th>
													<th>Category Code</th>
													<th>Created By</th>
													<th>Created Date</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="item : ${newss}">
													<td><input type="checkbox" value="${item.id}"></td>
													<td th:text="${item.title}"></td>
													<td th:text="${item.shortDescription}"></td>
													<td th:text="${item.thumbnail}"></td>
													<td th:text="${item.content}"></td>
													<td th:text="${item.categoryCode}"></td>
													<td th:text="${item.createdBy}"></td>
													<td th:text="${item.createdDate}"></td>
													<td>
														
														<a th:href="@{'/admin/news/edit/' + ${item.id}}" class="btn btn-warning">
															<i class="ace-icon fa fa-edit"></i>
														</a>
														<a th:href="@{'/admin/news/delete/' + ${item.id}}" class="btn btn-danger">
															<i class="ace-icon fa fa-remove"></i>
														</a>
													</td>
												</tr>
											</tbody>
										</table>



										<div class="container" align="center">
											<nav aria-label="Page navigation">
												<ul class="pagination" id="pagination"></ul>
											</nav>
										</div>
										<input type="hidden" value="" id="page" name="page" />
										<input type="hidden" value="" id="maxPageItem" name="maxPageItem" />
										<input type="hidden" value="" id="sortName" name="sortName" />
										<input type="hidden" value="" id="sortBy" name="sortBy" />
										<input type="hidden" value="" id="type" name="type" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- </form> -->
	</div>
</body>

</html>