<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout-web.html}">

<body>
	<section class="" layout:fragment="content">
		<!-- Page header with logo and tagline-->
		<header class="py-5 bg-light border-bottom mb-4">
			<div class="container">
				<div class="text-center my-5 ">
					<h1 class="fw-bolder">Welcome to Ha Noi Party Handbook!</h1>
					<p class="lead mb-0">Sổ tay Đảng viên Thành ủy Hà Nội phục vụ cho công tác truyền thông và sinh hoạt
						Đảng</p>
				</div>
			</div>
		</header>
		<!-- Page content-->
		<div class="container">
			<div class="row">
				<!-- Blog entries-->
				<div class="col-lg-8">
					<!-- Featured blog post-->
					<div class="card mb-4">
						<a th:href="'/news/' + ${newss[0].id}">
							<img
                				th:src="${newss[0].thumbnail != null ?  '/news/images/' +  newss[0].thumbnail : '/images/No-Image.png' }"
                				alt=""
                				width="855"
                				height="400"
              				/>
						</a>
						<div class="card-body">
							<div class="small text-muted" th:text="${newss[0].createdDate}"></div>
							<h2 class="card-title" th:text="${newss[0].title}"></h2>
							<p class="card-text" th:text="${newss[0].shortDescription}"></p>
							<a class="btn btn-primary" th:href="@{/news/single/{id}(id=${newss[0].id})}">Read more →</a>
						</div>
					</div>
					<!-- Nested row for non-featured blog posts-->
					<div class="row">
						<div class="col-lg-6">
							<!-- Blog post-->
							<div class="card mb-4">
								<a href="#!">
										<img
                							th:src="${newss[1].thumbnail != null ?  '/news/images/' +  newss[1].thumbnail : '/images/No-Image.png' }"
                							alt=""
                							width="415"
                							height="230"
              							/>
								</a>
								<div class="card-body">
									<div class="small text-muted" th:text="${newss[1].createdDate}"></div>
									<h2 class="card-title" th:text="${newss[1].title}"></h2>
									<p class="card-text" th:text="${newss[1].shortDescription}"></p>
									<a class="btn btn-primary" th:href="'/news/single/' + ${newss[1].id}">Read more
										→</a>
								</div>
							</div>
							<!-- Blog post-->
							<div class="card mb-4">
								<a href="#!"><img class="card-img-top">
										<img
                							th:src="${newss[2].thumbnail != null ?  '/news/images/' +  newss[2].thumbnail : '/images/No-Image.png' }"
                							alt=""
                							width="415"
                							height="230"
              							/>
								</a>
								<div class="card-body">
									<div class="small text-muted" th:text="${newss[2].createdDate}"></div>
									<h2 class="card-title" th:text="${newss[2].title}"></h2>
									<p class="card-text" th:text="${newss[2].shortDescription}"></p>
									<a class="btn btn-primary" th:href="'/news/single/' + ${newss[2].id}">Read more
										→</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<!-- Blog post-->
							<div class="card mb-4">
								<a href="#!"><img class="card-img-top">
										<img
                							th:src="${newss[3].thumbnail != null ?  '/news/images/' +  newss[3].thumbnail : '/images/No-Image.png' }"
                							alt=""
                							width="415"
                							height="230"
              							/>
										
								</a>
								<div class="card-body">
									<div class="small text-muted" th:text="${newss[3].createdDate}"></div>
									<h2 class="card-title" th:text="${newss[3].title}"></h2>
									<p class="card-text" th:text="${newss[3].shortDescription}"></p>
									<a class="btn btn-primary" th:href="'/news/single/' + ${newss[3].id}">Read more
										→</a>
								</div>
							</div>
							<!-- Blog post-->
							<div class="card mb-4">
								<a href="#!"><img class="card-img-top">
										<img
                							th:src="${newss[4].thumbnail != null ?  '/news/images/' +  newss[4].thumbnail : '/images/No-Image.png' }"
                							alt=""
                							width="415"
                							height="230"
              							/>
								</a>
								<div class="card-body">
									<div class="small text-muted" th:text="${newss[4].createdDate}"></div>
									<h2 class="card-title" th:text="${newss[4].title}"></h2>
									<p class="card-text" th:text="${newss[4].shortDescription}"></p>
									<a class="btn btn-primary" th:href="'/news/single/' + ${newss[4].id}">Read more
										→</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Pagination-->
					<nav aria-label="Pagination">
						<hr class="my-0" />
						<ul class="pagination justify-content-center my-4">
							<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
									aria-disabled="true">Newer</a></li>
							<li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
							<li class="page-item"><a class="page-link" href="#!">2</a></li>
							<li class="page-item"><a class="page-link" href="#!">3</a></li>
							<li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
							<li class="page-item"><a class="page-link" href="#!">15</a></li>
							<li class="page-item"><a class="page-link" href="#!">Older</a></li>
						</ul>
					</nav>
				</div>
				<!-- Side widgets-->
				<div class="col-lg-4">
					<!-- Search widget-->
					<div class="card mb-4">
						<div class="card-header">Search</div>
						<div class="card-body">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="Enter search term..."
									aria-label="Enter search term..." aria-describedby="button-search" />
								<button class="btn btn-primary" id="button-search" type="button">Go!</button>
							</div>
						</div>
					</div>
					<!-- Categories widget-->
					<div class="card mb-4">
						<div class="card-header">Categories</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<ul class="list-unstyled mb-0">
										<li><a href="#!">Chính trị</a></li>
										<li><a href="#!">Văn hóa</a></li>
										<li><a href="#!">Kinh tế</a></li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="list-unstyled mb-0">
										<li><a href="#!">Thể Theo</a></li>
										<li><a href="#!">Khoa học</a></li>
										<li><a href="#!">Quân sự</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>